*{
    font-family: sans-serif;
}
body {
    margin: 0;
    height: 100%;
}
.sidebar{
    margin: 0;
        padding-left: 20px;
        width: 220px;
        background-color: #f1f1f1;
        position: fixed;
        height: 100%;
        /* overflow: auto; */

    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    border: none;
    
}
.admin-panel-logo{
    color: white;
    
}
.admin-panal-nav-link{
    margin-top: 30px;
    font-weight: bolder;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: x-large;
}
.admin-panal-nav-link:hover{
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
}
.side-nav-links{
    margin-top: 40px;

}
